In [13]:
from deta import Deta
import pandas as pd
import numpy as np

In [33]:
class StockyDb:
    def __init__(self):
        self.deta = Deta('d0p5if1f_GSnmoPk32YPhwKaJzN6sq7hM2DN4XPks')
        self.db = self.deta.Base('StockyAI')
        
    def save_to_DB(self,ticker,df):
        date_=[]
        open_=[]
        high_=[]
        low_=[]
        close_=[]
        for i in range (0,len(df)):
            df['Close']=df['Close'].astype(float)
            df['Low']=df['Low'].astype(float)
            df['High']=df['High'].astype(float)
            df['Open']=df['Open'].astype(float)
            date_.append(df['Date'][i])
            open_.append(df['Open'][i])
            high_.append(df['High'][i])
            low_.append(df['Low'][i])
            close_.append(df['Close'][i])
        self.db.put({'key':ticker,'date':date_,'open':open_,'high':high_,'low':low_,'close':close_})
    
    def ticker_df(self,ticker):
        return self.db.get(key=ticker)
    
    def get_all_ticker(self):
        tickers=[]
        for i in range(0,self.db.fetch().count):
            tickers.append(self.db.fetch().items[i]['key'])
        return tickers

In [20]:
df = pd.read_csv('test.csv',index_col=False)

In [21]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [34]:
SD = StockyDb()

In [26]:
SD.save_to_DB("udsu",df)

In [35]:
SD.get_all_ticker()

['RELIANCE.NS', 'TATAMOTORS.NS']

In [39]:
Tdic=SD.ticker_df('RELIANCE.NS')

In [42]:
Tdf.head(5)

         close        date         high          key          low         open
0  2565.350586  2022-11-28  2554.479004  RELIANCE.NS  2560.783936  2531.567139
1  2585.606445  2022-11-29  2584.776367  RELIANCE.NS  2590.989014  2570.535645
2  2590.278564  2022-11-30  2584.825684  RELIANCE.NS  2599.659668  2582.841553
3  2602.883545  2022-12-01  2593.745605  RELIANCE.NS  2607.821533  2591.947754
4  2583.056885  2022-12-02  2565.169434  RELIANCE.NS  2580.293945  2561.148438

In [48]:
Tdf=Tdf[['date','open','high','low','close']]

In [53]:
S_min=Tdf['low'].min()

In [55]:
S_max=Tdf['high'].max()

In [84]:
S_min_date = (Tdf[Tdf['low']==S_min])['date'].tolist()
S_max_date = (Tdf[Tdf['high']==S_max])['date'].tolist()

In [88]:
if S_min_date<S_max_date:
    profit= S_max-S_min
    pro_per = (profit/S_min)*100
    print("Profit in Rs. ",profit," In percent- ",pro_per," %")

Profit in Rs.  170.1708984375  In percent-  6.651505740313772  %

In [86]:
print(S_min_date)
print(S_max_date)

['2022-12-14']
['2022-12-23']

In [87]:
Tdf

          date         open         high          low        close
0   2022-11-28  2531.567139  2554.479004  2560.783936  2565.350586
1   2022-11-29  2570.535645  2584.776367  2590.989014  2585.606445
2   2022-11-30  2582.841553  2584.825684  2599.659668  2590.278564
3   2022-12-01  2591.947754  2593.745605  2607.821533  2602.883545
4   2022-12-02  2561.148438  2565.169434  2580.293945  2583.056885
5   2022-12-05  2611.998047  2619.096924  2627.230469  2624.740479
6   2022-12-06  2605.301514  2614.991211  2623.598633  2627.749512
7   2022-12-07  2593.310791  2601.991455  2612.641357  2619.296387
8   2022-12-08  2582.813721  2589.453613  2601.173828  2606.927734
9   2022-12-09  2583.492676  2585.627441  2600.140381  2598.685303
10  2022-12-12  2580.125488  2576.451172  2596.362305  2592.404053
11  2022-12-13  2550.085449  2544.082275  2562.151611  2564.570801
12  2022-12-14  2543.983643  2541.189697  2558.381592  2551.644531
13  2022-12-15  2545.136475  2546.520264  2563.344727  2552.191650
14  2022-12-16  2555.331055  2560.503174  2573.729248  2560.677979
15  2022-12-19  2587.516113  2597.797363  2607.579346  2589.755127
16  2022-12-20  2634.022705  2636.622803  2645.525635  2626.888428
17  2022-12-21  2684.246826  2701.367188  2705.701416  2686.598389
18  2022-12-22  2708.186035  2720.196777  2727.876953  2721.810791
19  2022-12-23  2718.448242  2728.552490  2737.992432  2739.614014
20  2022-12-26  2714.635742  2719.426025  2728.468994  2736.585693
21  2022-12-27  2679.260742  2682.952637  2692.498535  2705.948730
22  2022-12-28  2671.407471  2667.468750  2681.629639  2683.488525
23  2022-12-29  2645.653564  2640.152588  2656.425537  2659.062988
24  2022-12-30  2634.419189  2627.707031  2645.687744  2643.020508
25  2023-01-02  2602.305420  2594.473389  2613.425293  2614.456543
26  2023-01-03  2585.577393  2581.461426  2599.105713  2595.782715
27  2023-01-04  2601.608887  2601.712158  2619.001709  2606.845703
28  2023-01-05  2595.801758  2584.973633  2608.927979  2606.207275
29  2023-01-06  2556.778809  2547.835449  2572.294189  2580.718750