In [5]:
from deta import Deta
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt
from yahoo_fin.stock_info import *
import plotly.graph_objects as go

In [6]:
class StockyDb:
    def __init__(self):
        self.deta = Deta('d0p5if1f_GSnmoPk32YPhwKaJzN6sq7hM2DN4XPks')
        self.db = self.deta.Base('StockyAI')
        
    def save_to_DB(self,ticker,df):
        date_=[]
        open_=[]
        high_=[]
        low_=[]
        close_=[]
        for i in range (0,len(df)):
            df['Close']=df['Close'].astype(float)
            df['Low']=df['Low'].astype(float)
            df['High']=df['High'].astype(float)
            df['Open']=df['Open'].astype(float)
            date_.append(df['Date'][i])
            open_.append(df['Open'][i])
            high_.append(df['High'][i])
            low_.append(df['Low'][i])
            close_.append(df['Close'][i])
        self.db.put({'key':ticker,'date':date_,'open':open_,'high':high_,'low':low_,'close':close_})
    
    def ticker_df(self,ticker):
        return self.db.get(key=ticker)
    
    def get_all_ticker(self):
        tickers=[]
        for i in range(0,self.db.fetch().count):
            tickers.append(self.db.fetch().items[i]['key'])
        return tickers
    
    def Recomodation(self):
    tickers = DB.get_all_ticker()
    buy=[]
    sell = []
    
    for i in tickers:
        rec={}
        df=pd.DataFrame(DB.ticker_df(i))
        H_max=df['high'].max()
        L_min=df['low'].min()
        H_date=(df[df['high']==H_max])['date'].to_list()
        L_date=(df[df['low']==L_min])['date'].to_list()
        if H_date>L_date:
            price={}
            price['Ticker']=i
            price['L_buy_price']=L_min
            price['H_buy_price']=L_min+(L_min*0.01)
            price['H_sell_price']=H_max
            price['L_sell_price']=H_max-(H_max*0.01)
            price['profit% ']=((price['L_sell_price']-price['H_buy_price'])/price['H_buy_price'])*100
            buy.append(price)
        elif H_date<L_date:
            price={}
            price['Ticker']=i
            price['H_sell_price']=H_max
            price['L_sell_price']=H_max-(H_max*0.01)
            price['L_buy_price']=L_min
            price['H_buy_price']=L_min+(L_min*0.01)
            price['profit% ']=((price['L_sell_price']-price['H_buy_price'])/price['H_buy_price'])*100
            sell.append(price)
    
    buy_df=pd.DataFrame()
    for i in range (0,len(buy)):
        buy_df=buy_df.append([buy[i]],ignore_index=True)
    sell_df=pd.DataFrame()
    for j in range (0,len(sell)):
        sell_df=sell_df.append([sell[j]],ignore_index=True)
    return buy_df,sell_df

IndentationError: expected an indented block (Temp/ipykernel_4244/876515894.py, line 34)

In [161]:
dbp = deta.Base('StockyAI_portfolio')

In [2]:
class Portfolio():
    def __init__(self):
        self.dbp = deta.Base('StockyAI_portfolio')
        self.p_data = self.dbp.get(key='praveen')
        self.cash = self.p_data['cash']
        self.stocks = self.p_data['stocks']
        #self.S_df = pd.DataFrame(columns=['stock','buy_price','quantity'])
        #self.S_df=self.S_df.append(self.stocks,ignore_index=True)
        print(self.stocks)
        
    def Buy (self,ticker):
        tik= ticker
        ticker = yf.Ticker(ticker)
        price = ticker.info
        if (price['regularMarketPrice']) == None :
            pre_day_price=ticker.history(period='1d')
            print(ticker,"Price - ",pre_day_price.iloc[0,3])
            c_price =pre_day_price.iloc[0,3]
            quant= int(input('Quantity'))
            amt = c_price*quant
            if self.cash >= amt:
                self.cash=self.cash-amt
                S_detail={}
                S_detail['buy_price']=c_price
                S_detail['quantity'] = quant
                self.stocks[tik]=S_detail
                #return self.stocks
                self.dbp.put({'key':'praveen','cash':self.cash,'stocks':self.stocks})
                
            else:
                print('INSUFICENT BALANCE')

        else:
            print("Price - ",price['regularMarketPrice'])
            c_price =price['regularMarketPrice']
            quant= int(input('Quantity'))
            amt = c_price*quant
            if self.cash >= amt:
                self.cash=self.cash-amt
                print('stocks brought')
                print('available balance - ',cash)
            else:
                print('INSUFICENT BALANCE')

    def Sell (self,ticker):
        tik=ticker
        ticker = yf.Ticker(ticker)
        price = ticker.info
        if (price['regularMarketPrice']) == None :
            pre_day_price=ticker.history(period='1d')
            print(ticker,"Price - ",pre_day_price.iloc[0,3])
            c_price =pre_day_price.iloc[0,3]
            quant= int(input('Quantity'))
            amt = c_price*quant
            if self.stocks[tik]['quantity']>= quant :
                self.cash=self.cash+amt
                r_quant = self.stocks[tik]['quantity']-quant
                S_details=(self.stocks[tik])
                S_details['quantity']=r_quant
                self.stocks[tik]=S_details
                #print(self.stocks[tik])
                #return self.stocks
                self.dbp.put({'key':'praveen','cash':self.cash,'stocks':self.stocks})
                
                
            else:
                print('INSUFICENT BALANCE')

        else:
            print("Price - ",price['regularMarketPrice'])
            c_price =price['regularMarketPrice']
            quant= int(input('Quantity'))
            amt = c_price*quant
            if cash >= 0:
                cash=cash+amt
                print('stocks Sold')
                print('available balance - ',cash)
            else:
                print('INSUFICENT BALANCE')
        
    def get_holdings(self):
        #print(self.p_data['stocks'])
        hold_df = pd.DataFrame(self.p_data['stocks'])
        hold_df=hold_df.transpose()
        hold_df=hold_df.reset_index()
        hold_df['index']=hold_df['index'].astype('str')
        tiks=hold_df['index'].to_list()
        #tickers=yf.Tickers(tiks)
        prices=[]
        
        for i in (tiks):
            #i = tickers.tickers[i]
            pr = get_live_price(i)
            #pr = pr['regularMarketPrice']
            prices.append(pr)
            
        #hold_df['current price']=hold_df['index'].apply(self.get_current_price)
        hold_df['current price']=prices
        return hold_df
    
    def get_current_price(self,ticker):
        ticker=yf.Ticker(ticker)
        info=ticker.info
        return info['regularMarketPrice']

In [3]:
deta = Deta('d0p5if1f_GSnmoPk32YPhwKaJzN6sq7hM2DN4XPks')
dbh = deta.Base('StockyAI_home')

In [6]:
closing_price=dbh.get(key='closing price')
closing_price=closing_price['price']

In [7]:
Liveprices=dbh.get(key='Live prices')
Live_prices=Live_prices['price']

In [21]:
Live_prices['APOLLOHOSP.NS']

4700.14990234375

In [22]:
N50List= tickers_nifty50()

In [23]:
N50List

['ADANIENT.NS',
 'APOLLOHOSP.NS',
 'BAJAJ-AUTO.NS',
 'BAJAJFINSV.NS',
 'BAJFINANCE.NS',
 'BHARTIARTL.NS',
 'BRITANNIA.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'HDFCLIFE.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'ICICIBANK.NS',
 'INDUSINDBK.NS',
 'ITC.NS',
 'KOTAKBANK.NS',
 'LT.NS',
 'MARUTI.NS',
 'MM.NS',
 'NESTLEIND.NS',
 'NTPC.NS',
 'ONGC.NS',
 'RELIANCE.NS',
 'TATACONSUM.NS',
 'TATASTEEL.NS',
 'TCS.NS',
 'TECHM.NS',
 'TITAN.NS',
 'ULTRACEMCO.NS',
 'WIPRO.NS']

In [19]:
change_price={}
for i in (N50List):
    change_price[i]=Live_prices[i]-closing_price[i]

In [24]:
change_price['ADANIENT.NS']

0.0

In [36]:
def N50_change():
        N50List = tickers_nifty50()
        closing_price=dbh.get(key='closing price')
        closing_price=closing_price['price']
        Live_prices=dbh.get(key='Live prices')
        Live_pri=Live_prices['price']
        change_price={}
        for i in (N50List):
            change_price[i]=Live_pri[i]-closing_price[i]

        return change_price,N50List,Live_pri

In [37]:
change_price,N50_list,N50Live=N50_change()

In [38]:
N50Live

{'ADANIENT.NS': 3642.199951171875,
 'APOLLOHOSP.NS': 4700.14990234375,
 'BAJAJ-AUTO.NS': 3541.800048828125,
 'BAJAJFINSV.NS': 1497.050048828125,
 'BAJFINANCE.NS': 6374.60009765625,
 'BHARTIARTL.NS': 808.6500244140625,
 'BRITANNIA.NS': 4331.89990234375,
 'CIPLA.NS': 1119.1500244140625,
 'COALINDIA.NS': 215.0500030517578,
 'HDFCLIFE.NS': 565.4500122070312,
 'HEROMOTOCO.NS': 2636.85009765625,
 'HINDALCO.NS': 429.54998779296875,
 'ICICIBANK.NS': 878.9000244140625,
 'INDUSINDBK.NS': 1147.8499755859375,
 'ITC.NS': 326.70001220703125,
 'KOTAKBANK.NS': 1821.949951171875,
 'LT.NS': 2062.75,
 'MARUTI.NS': 8141.60009765625,
 'MM.NS': 1224.5999755859375,
 'NESTLEIND.NS': 20132.75,
 'NTPC.NS': 163,
 'ONGC.NS': 139.8000030517578,
 'RELIANCE.NS': 2502.199951171875,
 'TATACONSUM.NS': 779,
 'TATASTEEL.NS': 102.25,
 'TCS.NS': 3228.35009765625,
 'TECHM.NS': 995.75,
 'TITAN.NS': 2483.050048828125,
 'ULTRACEMCO.NS': 6909.39990234375,
 'WIPRO.NS': 377.6499938964844}

In [70]:
def stock1Mp(ticker):
    tick =yf.Ticker(ticker)
    his = tick.history(period='1mo')
    his=his.reset_index()
    his.drop((['Dividends','Stock Splits']),axis=1,inplace=True)
    return his

In [71]:
his=stock1Mp('TATAMOTORS.NS')

In [72]:
his

         Date        Open        High         Low       Close    Volume
0  2022-11-23  426.850006  429.299988  422.850006  424.049988   6568241
1  2022-11-24  424.500000  425.250000  420.700012  423.399994   6768613
2  2022-11-25  425.000000  435.149994  424.000000  433.200012  18764073
3  2022-11-28  435.000000  440.350006  432.399994  433.250000  10701208
4  2022-11-29  432.500000  437.899994  429.549988  433.149994   8630105
5  2022-11-30  435.000000  441.000000  433.299988  439.399994  14727892
6  2022-12-01  443.000000  443.600006  436.850006  438.250000   8909310
7  2022-12-02  439.000000  441.149994  435.000000  435.399994   8352658
8  2022-12-05  435.500000  437.500000  427.799988  428.750000  12857807
9  2022-12-06  428.799988  431.350006  425.350006  427.100006   8461831
10 2022-12-07  428.000000  428.000000  419.100006  420.100006  12133315
11 2022-12-08  421.000000  421.399994  415.350006  417.200012   9539923
12 2022-12-09  419.299988  420.950012  409.549988  413.299988   9920219
13 2022-12-12  412.000000  416.899994  408.000000  414.149994   8009229
14 2022-12-13  419.950012  421.500000  417.250000  418.500000   9717894
15 2022-12-14  420.549988  421.350006  417.350006  417.899994   6314883
16 2022-12-15  418.850006  422.799988  415.700012  416.700012   7542601
17 2022-12-16  417.350006  427.799988  413.100006  421.600006  50949198
18 2022-12-19  421.899994  422.850006  415.500000  418.000000   9809103
19 2022-12-20  418.000000  418.000000  408.000000  410.500000  12341042
20 2022-12-21  412.600006  414.399994  401.000000  402.600006  11606059
21 2022-12-22  404.100006  404.700012  390.200012  394.450012  14908929
22 2022-12-23  390.000000  390.000000  377.000000  378.350006  19902886

In [53]:
go.Line(his['Close'])

{Timestamp('2022-11-23 00:00:00'): 424.04998779296875,
 Timestamp('2022-11-24 00:00:00'): 423.3999938964844,
 Timestamp('2022-11-25 00:00:00'): 433.20001220703125,
 Timestamp('2022-11-28 00:00:00'): 433.25,
 Timestamp('2022-11-29 00:00:00'): 433.1499938964844,
 Timestamp('2022-11-30 00:00:00'): 439.3999938964844,
 Timestamp('2022-12-01 00:00:00'): 438.25,
 Timestamp('2022-12-02 00:00:00'): 435.3999938964844,
 Timestamp('2022-12-05 00:00:00'): 428.75,
 Timestamp('2022-12-06 00:00:00'): 427.1000061035156,
 Timestamp('2022-12-07 00:00:00'): 420.1000061035156,
 Timestamp('2022-12-08 00:00:00'): 417.20001220703125,
 Timestamp('2022-12-09 00:00:00'): 413.29998779296875,
 Timestamp('2022-12-12 00:00:00'): 414.1499938964844,
 Timestamp('2022-12-13 00:00:00'): 418.5,
 Timestamp('2022-12-14 00:00:00'): 417.8999938964844,
 Timestamp('2022-12-15 00:00:00'): 416.70001220703125,
 Timestamp('2022-12-16 00:00:00'): 421.6000061035156,
 Timestamp('2022-12-19 00:00:00'): 418.0,
 Timestamp('2022-12-20 00:00:00'): 410.5,
 Timestamp('2022-12-21 00:00:00'): 402.6000061035156,
 Timestamp('2022-12-22 00:00:00'): 394.45001220703125,
 Timestamp('2022-12-23 00:00:00'): 378.3500061035156}

In [74]:
int(get_live_price('^NSEI'))

17806

In [5]:
get_company_info('SBIN.NS')

TypeError: string indices must be integers

In [17]:
get_quote_data('^NSEI')['regularMarketChange']

117.70117

In [19]:
tickers_nifty50()

['ADANIENT.NS',
 'APOLLOHOSP.NS',
 'BAJAJ-AUTO.NS',
 'BAJAJFINSV.NS',
 'BAJFINANCE.NS',
 'BHARTIARTL.NS',
 'BRITANNIA.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'HDFCLIFE.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'ICICIBANK.NS',
 'INDUSINDBK.NS',
 'ITC.NS',
 'KOTAKBANK.NS',
 'LT.NS',
 'MARUTI.NS',
 'MM.NS',
 'NESTLEIND.NS',
 'NTPC.NS',
 'ONGC.NS',
 'RELIANCE.NS',
 'TATACONSUM.NS',
 'TATASTEEL.NS',
 'TCS.NS',
 'TECHM.NS',
 'TITAN.NS',
 'ULTRACEMCO.NS',
 'WIPRO.NS']

In [22]:
get_data('ONGC.NS',start_date='2022-01-01',end_date='2022-12-01')['close']

2022-01-03    143.050003
2022-01-04    147.800003
2022-01-05    150.350006
2022-01-06    150.800003
2022-01-07    157.050003
                 ...
2022-11-24    139.449997
2022-11-25    140.550003
2022-11-28    139.600006
2022-11-29    140.250000
2022-11-30    141.100006
Name: close, Length: 226, dtype: float64

In [35]:
today=dt.datetime.now().strftime('%Y-%m-%d')

In [44]:
(dt.datetime.today()-dt.timedelta(30)).strftime('%Y-%m-%d')

'2022-11-27'

In [47]:
get_quote_data('WIPRO.NS')

{'language': 'en-US',
 'region': 'US',
 'quoteType': 'EQUITY',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'currency': 'INR',
 'regularMarketChangePercent': 1.6031554,
 'regularMarketPrice': 386.6,
 'marketState': 'POSTPOST',
 'exchange': 'NSI',
 'shortName': 'WIPRO LTD',
 'longName': 'Wipro Limited',
 'messageBoardId': 'finmb_598611',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'gmtOffSetMilliseconds': 19800000,
 'market': 'in_market',
 'esgPopulated': False,
 'fiftyTwoWeekLowChange': 14.200012,
 'fiftyTwoWeekLowChangePercent': 0.038131077,
 'fiftyTwoWeekRange': '372.4 - 726.8',
 'fiftyTwoWeekHighChange': -340.19998,
 'fiftyTwoWeekHighChangePercent': -0.46807924,
 'fiftyTwoWeekLow': 372.4,
 'fiftyTwoWeekHigh': 726.8,
 'earningsTimestamp': 1673605800,
 'earningsTimestampStart': 1673605800,
 'earningsTimestampEnd': 1673605800,
 'trailingAnnualDividendRate': 5.0,
 'trailingPE': 18.803503,
 'trailingAnnualDividendYield': 0.013140605,
 'epsTrailingTwelveMonths': 20.56,
 'epsForward': 24.08,
 'epsCurrentYear': 20.7,
 'priceEpsCurrentYear': 18.676329,
 'sharesOutstanding': 5472779776,
 'bookValue': 131.085,
 'fiftyDayAverage': 393.413,
 'fiftyDayAverageChange': -6.8129883,
 'fiftyDayAverageChangePercent': -0.017317649,
 'twoHundredDayAverage': 440.48126,
 'twoHundredDayAverageChange': -53.881256,
 'twoHundredDayAverageChangePercent': -0.1223236,
 'marketCap': 2116333469696,
 'forwardPE': 16.054817,
 'priceToBook': 2.9492314,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 15,
 'averageAnalystRating': '3.2 - Hold',
 'tradeable': False,
 'cryptoTradeable': False,
 'firstTradeDateMilliseconds': 820467900000,
 'priceHint': 2,
 'regularMarketChange': 6.100006,
 'regularMarketTime': 1672135199,
 'regularMarketDayHigh': 387.35,
 'regularMarketDayRange': '380.25 - 387.35',
 'regularMarketDayLow': 380.25,
 'regularMarketVolume': 3841514,
 'regularMarketPreviousClose': 380.5,
 'bid': 0.0,
 'ask': 0.0,
 'bidSize': 0,
 'askSize': 0,
 'fullExchangeName': 'NSE',
 'financialCurrency': 'INR',
 'regularMarketOpen': 382.5,
 'averageDailyVolume3Month': 6252410,
 'averageDailyVolume10Day': 4944801,
 'symbol': 'WIPRO.NS'}

In [72]:
def Stock_details(ticker):
    details = get_quote_data(ticker)
    L_ofItems=['longName','regularMarketChangePercent','regularMarketPrice','fiftyTwoWeekLow','fiftyTwoWeekHigh','fiftyDayAverage','twoHundredDayAverage','regularMarketChange','regularMarketDayHigh','regularMarketDayLow','regularMarketPreviousClose']
    laa = []
    for i in (L_ofItems):
        laa.append(details[i])
    df = pd.DataFrame(laa,index=L_ofItems)
    return df

In [73]:
Stock_details('WIPRO.NS')

                                        0
longName                    Wipro Limited
regularMarketChangePercent       1.603155
regularMarketPrice                  386.6
fiftyTwoWeekLow                     372.4
fiftyTwoWeekHigh                    726.8
fiftyDayAverage                   393.413
twoHundredDayAverage            440.48126
regularMarketChange              6.100006
regularMarketDayHigh               387.35
regularMarketDayLow                380.25
regularMarketPreviousClose          380.5

In [4]:
db = Portfolio()

NameError: name 'deta' is not defined

In [15]:
def live_stock(ticker):
    details=get_quote_data(ticker)
    name = details['longName']
    C_price = round(details['regularMarketPrice'],2)
    C_change = round(details['regularMarketChange'],2)
    return name,C_price,C_change

In [16]:
live_stock('NTPC.NS')

NTPC Limited 166.75 0.9
{'language': 'en-US', 'region': 'US', 'quoteType': 'EQUITY', 'typeDisp': 'Equity', 'quoteSourceName': 'Delayed Quote', 'triggerable': True, 'customPriceAlertConfidence': 'HIGH', 'marketState': 'POSTPOST', 'regularMarketChangePercent': 0.5426553, 'regularMarketPrice': 166.75, 'currency': 'INR', 'exchange': 'NSI', 'shortName': 'NTPC LTD', 'longName': 'NTPC Limited', 'messageBoardId': 'finmb_9673133', 'exchangeTimezoneName': 'Asia/Kolkata', 'exchangeTimezoneShortName': 'IST', 'gmtOffSetMilliseconds': 19800000, 'market': 'in_market', 'esgPopulated': False, 'earningsTimestamp': 1667043000, 'earningsTimestampStart': 1667043000, 'earningsTimestampEnd': 1667043000, 'trailingAnnualDividendRate': 3.0, 'trailingPE': 10.223789, 'trailingAnnualDividendYield': 0.018088633, 'epsTrailingTwelveMonths': 16.31, 'epsForward': 18.84, 'epsCurrentYear': 16.84, 'priceEpsCurrentYear': 9.902019, 'sharesOutstanding': 9696669696, 'bookValue': 145.864, 'fiftyDayAverage': 170.684, 'fiftyDayAverageChange': -3.9340057, 'fiftyDayAverageChangePercent': -0.023048474, 'twoHundredDayAverage': 158.571, 'twoHundredDayAverageChange': 8.179001, 'twoHundredDayAverageChangePercent': 0.051579423, 'marketCap': 1616919658496, 'forwardPE': 8.850849, 'priceToBook': 1.1431882, 'sourceInterval': 15, 'exchangeDataDelayedBy': 15, 'averageAnalystRating': '1.4 - Strong Buy', 'firstTradeDateMilliseconds': 1099626300000, 'priceHint': 2, 'tradeable': False, 'cryptoTradeable': False, 'regularMarketChange': 0.8999939, 'regularMarketTime': 1672308000, 'regularMarketDayHigh': 167.4, 'regularMarketDayRange': '164.0 - 167.4', 'regularMarketDayLow': 164.0, 'regularMarketVolume': 19570776, 'regularMarketPreviousClose': 165.85, 'bid': 0.0, 'ask': 0.0, 'bidSize': 0, 'askSize': 0, 'fullExchangeName': 'NSE', 'financialCurrency': 'INR', 'regularMarketOpen': 165.0, 'averageDailyVolume3Month': 11095621, 'averageDailyVolume10Day': 8313775, 'fiftyTwoWeekLowChange': 44.5, 'fiftyTwoWeekLowChangePercent': 0.3640082, 'fiftyTwoWeekRange': '122.25 - 182.95', 'fiftyTwoWeekHighChange': -16.199997, 'fiftyTwoWeekHighChangePercent': -0.08854877, 'fiftyTwoWeekLow': 122.25, 'fiftyTwoWeekHigh': 182.95, 'symbol': 'NTPC.NS'}

In [17]:
NT = yf.Ticker('NTPC.NS')

In [28]:
dd=NT.get_news()

In [29]:
dd

[{'uuid': '85a32154-5948-38e1-ab46-25840506ef10',
  'title': '20 EV stocks that could rebound the most in 2023',
  'publisher': 'MarketWatch',
  'link': 'https://finance.yahoo.com/m/85a32154-5948-38e1-ab46-25840506ef10/20-ev-stocks-that-could.html',
  'providerPublishTime': 1672330020,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/cXaWu1t6tLfQefddwXXXmw--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/marketwatch.com/c878cb8cfcd902d4d6dee35455dd35f4',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/dn2C_zutQk_iXkZkRi9JJQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/marketwatch.com/c878cb8cfcd902d4d6dee35455dd35f4',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['TSLA', '^GSPC']},
 {'uuid': '224f1177-cd40-3060-a3e3-fb198a8687e1',
  'title': 'U.S. Treasury says consumer leases can qualify for EV tax credits',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/u-treasury-says-consumer-leases-160638972.html',
  'providerPublishTime': 1672329998,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/iah2gg.mOWqFuXy.bwZUfA--~B/aD01MzM7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/586447f2cf0eff9ab2dd59c935e3cb5a',
     'width': 800,
     'height': 533,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/gDFmQ.wfptRfNkzt_pYU8w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/reuters-finance.com/586447f2cf0eff9ab2dd59c935e3cb5a',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': 'd3f0bc60-3d21-3139-99b0-2f4ca52d64db',
  'title': 'Spectra Logic Closes 2022 with 12 Product Innovation and Industry Leadership Awards',
  'publisher': 'GlobeNewswire',
  'link': 'https://finance.yahoo.com/news/spectra-logic-closes-2022-12-160600423.html',
  'providerPublishTime': 1672329960,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/K4ROn9dstCuY9WIa1ptjxQ--~B/aD0yODk5O3c9MTA1Nzg7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/globenewswire.com/729a60e88039002a783496c711b26e92',
     'width': 10578,
     'height': 2899,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/3migWXcAMJeZhSedZWIY6w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/globenewswire.com/729a60e88039002a783496c711b26e92',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': '38cad688-b7ac-3dc4-ac5b-d235b6a9fcf4',
  'title': 'Shaquille O’Neal to host virtual New Year’s Eve special on Meta',
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/shaquille-o-neal-host-virtual-160531204.html',
  'providerPublishTime': 1672329927,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Jd92J8wIvFR5w09qwS0UzQ--~B/aD0xNTYwO3c9Mjc3NTthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2022-12/9b882800-8792-11ed-8efd-fa3ede5b9fb1',
     'width': 2775,
     'height': 1560,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/ckJ2cO3o7Sy_kCG_li__fA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2022-12/9b882800-8792-11ed-8efd-fa3ede5b9fb1',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['META']},
 {'uuid': '65fecde5-218f-3186-b02f-0bb40e96e944',
  'title': 'Sickle Cell News Opens New Digital Outlet',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/sickle-cell-news-opens-digital-160500490.html',
  'providerPublishTime': 1672329900,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/ydhuOAjy6ms4E0WaIpzd5A--~B/aD0xNjt3PTE2O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/prnewswire.com/746976339ab261035d485af7b4401892',
     'width': 16,
     'height': 16,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/e.1SmIXLkU7x3SCtK.MBeg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/prnewswire.com/746976339ab261035d485af7b4401892',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': '82fab88a-8620-3851-ba0d-5ba3070aa67b',
  'title': 'Net Asset Value Restatement for Simplify Tail Risk Strategy ETF (CYA)',
  'publisher': 'Business Wire',
  'link': 'https://finance.yahoo.com/news/net-asset-value-restatement-simplify-160500039.html',
  'providerPublishTime': 1672329900,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/vRtoMZnII0T_GBSagSW._Q--~B/aD02NDt3PTQ4MDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/business-wire.com/64029b53c549181dc30d6176351940aa',
     'width': 480,
     'height': 64,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/OiaM2ymjUIhWSfWH8BsoTA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/business-wire.com/64029b53c549181dc30d6176351940aa',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['CYA']},
 {'uuid': 'ddb046bd-8663-336e-b5e3-e7d3246cad98',
  'title': 'Juniper Stock Builds Base As This Networking Firm Posts Rising Profits',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/ddb046bd-8663-336e-b5e3-e7d3246cad98/juniper-stock-builds-base-as.html',
  'providerPublishTime': 1672329660,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/dofqbe71s9tNMHr8hBI7Xg--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/3e358f11541b27f51249f8cf4f214538',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/giZTO0jexNncPDAcCeH17Q--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/3e358f11541b27f51249f8cf4f214538',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['JNPR']},
 {'uuid': 'cee55ccb-4808-3b19-816a-04187308055e',
  'title': '10 Groceries To Buy When You’re Broke',
  'publisher': 'GOBankingRates',
  'link': 'https://finance.yahoo.com/news/10-groceries-buy-broke-120028237.html',
  'providerPublishTime': 1672329637,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/TfRhWuSCswpRqcR9vmOjEQ--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/gobankingrates_644/e717893b90bdff2e5dfb6ac4e2db8f59',
     'width': 1920,
     'height': 1080,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/P66P6x63ba1x54y95jFp8A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/gobankingrates_644/e717893b90bdff2e5dfb6ac4e2db8f59',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}}]